
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/Tabela.css" />

    <h2>Voluntário</h2>

    <!--BEGIN #signup-form -->
    <div id="signup-form" class="form-horizontal">
        <!--BEGIN #subscribe-inner -->
        <div id="signup-inner">
            <div class="clearfix" id="header">
                <img id="signup-icon" src="./images/signup.png" alt="" />
                
            </div>
            <div class="form-group">
                <form id="send" action="/CadastroVoluntario/Cadastrar" method="post" class="form-horizontal">
                    <p>
                        <label for="idvoluntario"></label>
                        <input id="idvoluntario" type="text" name="voluntario.id" value="@ViewBag.Voluntario.id" style="display:none;" />
                    </p>
                    <p>
                        <label for="nome" class="control-label col-md-2">Nome Completo *</label>
                        <input id="nome" type="text" class="form-control" name="voluntario.Nome" value="@ViewBag.Voluntario.Nome"  />
                    </p>

                    <p>
                        <label for="cnpj/cpf" class="control-label col-md-2">CNPJ/CPF *</label>
                        <input id="cnpj/cpf" type="text" class="form-control" name="voluntario.Cpf" value="@ViewBag.Voluntario.Cpf" />
                    </p>

                    <p>
                        <label for="ie" class="control-label col-md-2">Inscrição Estadual</label>
                        <input id="ie" type="text" class="form-control" name="voluntario.InscricaoEstadual" value="@ViewBag.Voluntario.InscricaoEstadual" />
                    </p>

                    <p>
                        <label for="logradouro" class="control-label col-md-2">Logradouro</label>
                        <input id="logradouro" type="text" class="form-control" name="voluntario.Logradouro" value="@ViewBag.Voluntario.Logradouro" />
                    </p>

                    <p>
                        <label for="numero" class="control-label col-md-2">Número</label>
                        <input id="numero" type="text" class="form-control" name="voluntario.Numero" value="@ViewBag.Voluntario.Numero" />
                    </p>

                    <p>
                        <label for="complemento" class="control-label col-md-2">Complemento</label>
                        <input id="complemento" type="text" class="form-control" name="voluntario.Complemento" value="@ViewBag.Voluntario.Complemento" />
                    </p>

                    <p>
                        <label for="bairro" class="control-label col-md-2">Bairro</label>
                        <input id="bairro" type="text" class="form-control" name="voluntario.Bairro" value="@ViewBag.Voluntario.Bairro"/>
                    </p>

                    <p>
                        <label for="estado" class="control-label col-md-2">Estado</label>
                        <select name="voluntario.Estado" class="control-label col-md-2" value="@ViewBag.Voluntario.Estado">
                            <option></option>
                            <option>AC</option>
                            <option>AL</option>
                            <option>AM</option>
                            <option>AP</option>
                            <option>BA</option>
                            <option>CE</option>
                            <option>DF</option>
                            <option>ES</option>
                            <option>EX</option>
                            <option>GO</option>
                            <option>MA</option>
                            <option>MG</option>
                            <option>MS</option>
                            <option>MT</option>
                            <option>PA</option>
                            <option>PB</option>
                            <option>PE</option>
                            <option>PI</option>
                            <option>PR</option>
                            <option>RJ</option>
                            <option>RN</option>
                            <option>RO</option>
                            <option>RR</option>
                            <option>RS</option>
                            <option>SC</option>
                            <option>SE</option>
                            <option>SP</option>
                            <option>TO</option>
                        </select>
                    </p>

                    <p>
                        <label for="cidade" class="control-label col-md-2">Cidade</label>
                        <select name="voluntario.Cidadeid" class="control-label col-md-2" value="">
                            <option></option>
                            @foreach (var cidade in ViewBag.Cidade)
                            {
                                <option value="@cidade.id" selected="@cidade.id.Equals(ViewBag.Voluntario.Cidadeid)">@cidade.Nome</option>
                            }                           
                        </select>
                    </p>

                    <p>
                        <label for="cep" class="control-label col-md-2">CEP</label>
                        <input id="cep" type="text" class="form-control" name="voluntario.Cep" value="@ViewBag.Voluntario.Cep" />
                    </p>

                    <p>
                        <label for="fone" class="control-label col-md-2">Fone *</label>
                        <input id="fone" type="text" class="form-control" name="voluntario.Telefone" value="@ViewBag.Voluntario.Telefone"/>
                    </p>

                    <p>
                        <label for="aniversario" class="control-label col-md-2">Aniversário</label>
                        <input id="aniversario" class="form-control" type="text" name="voluntario.Aniversario" value="@ViewBag.Voluntario.Aniversario"/>
                    </p>
                    <p>
                        <label for="idlogin"></label>
                        <input id="idlogin" type="text" name="login.id" value="@ViewBag.Voluntario.Login.id" style="display:none;" />
                    </p>

                    <p>
                        <label for="email" class="control-label col-md-2">E-mail *</label>
                        <input id="email"  class="form-control" type="text" name="login.Email" value="@ViewBag.Voluntario.Login.Email"/>
                    </p>

                    <p>
                        <label for="senha" class="control-label col-md-2">Senha *</label>
                        <input id="senha" class="form-control" type="password" name="login.Senha" value="@ViewBag.Voluntario.Login.Senha"/>
                    </p>

                    <p>
                        <input type="submit" class="btn btn-success" value="Cadastrar">
                    </p>

                </form>
            </div>
            <div id="required">	@Html.ActionLink("Voltar", "Index", "Login")</div>

        </div>

        <!--END #signup-form -->
    </div>
